@font-face {
	font-family: "primary";
	src: url(../fonts/Gilroy-Light.woff2);
	font-weight: 300;
}

@font-face {
	font-family: "primary";
	src: url(../fonts/Gilroy-Regular.woff2);
	font-weight: 400;
}

@font-face {
	font-family: "primary";
	src: url(../fonts/Gilroy-Medium.woff2);
	font-weight: 500;
}

@font-face {
	font-family: "secondary";
	src: url(../fonts/ActayWide-Bold.otf);
}

body, input, input::placeholder, button {
	font-family: "primary";
	font-weight: 400;
}