

html, body {
	height: 100%;
}

#root {
	display: flex;
	flex-direction: column;
	height: 100%;
}

a {
	color: #000;
}

.swiper-button-next {
	top: auto !important;
	bottom: 0 !important;

	&::after {
		font-size: 30px !important;
		color: #949494;
	}
}

.swiper-button-prev {
	top: auto !important;
	bottom: 0 !important;
	
	&::after {
		font-size: 30px !important;
		color: #949494;
	}
}